{{>layout/header}}
<div class="container">
    <div id="header" align="right">
        <div id="profile">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>
    </div>
    <div id="content" align="center">
        <form method="post" action="/board/write">
            <table id="boardWriteTable">
                <tr>
                    <td>제목</td>
                    <td><input type="text" id="boardTitle" name="title"></td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <div class="mb-3">
                            <textarea id="boardTextArea" class="form-control" name="content" rows="7"></textarea>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><button type="button" class="btn btn-primary">작성완료</button></td>
                </tr>
            </table>
        </form>
    </div>
</div>
{{>layout/footer}}