{{>layout/header}}
<div class="container-md">
    <div id="content">
        <table class="table table-striped table-hover">
            <tr>
                <th>글번호</th>
                <th>작성자</th>
                <th>제목</th>
                <th>작성일</th>
                <th>조회수</th>
            </tr>
            {{#boardList}}
            <tr>
                <td>{{boardNo}}</td>
                <td>{{boardWriter}}</td>
                <td><a href="/board/detail/{{boardNo}}">{{boardTitle}}</a></td>
                <td>{{boardPostDate}}</td>
                <td>{{boardViewCount}}</td>
            </tr>
            {{/boardList}}
        </table>
        <div>
            <div id="searchForm" class="input-group mb-3">
                <button class="btn btn-outline-secondary" type="button" id="button-addon1">검색</button>
                <input type="text" class="form-control" placeholder=""
                       aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
            <button id="writeBtn" type="button" class="btn btn_secondary">글쓰기</button>
        </div>
    </div>
</div>
{{>layout/footer}}